* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    color: white;
}

/* Задаю параметры всего контейнера полностью */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Задаю параметры шапки полностью */
header {
    flex-basis: 10%; 
    display: flex;
    background-image: url(/assets/image/2212.w056.n005.93B.p1.93.jpg);
    background-size: contain;
}

/* Задаю параметры блоков контенера шапки */
.header_menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 223, 237, 0.5);
    margin: 30px;
}

/* Задаю параметры логотипа */
.logo {
    display: flex;
}

/* Задаю параметры изображений */
img {
    max-width: 20%;
    border-radius: 8px;
}

/* Задаю параметры выделения изображения цветом при наведении мышки */
.image:hover {
    background-color: rgb(204, 196, 205);
    color: rgb(144, 204, 150);
}

/* Задаю параметры блока навигации в шапке */
.header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

/* Задаю параметры блока меню в шапке */
.menu a {
    font-size: 16px;
    margin-right: 35px;
}

.menu a:last-child {
    margin-right: 0;
}

.menunav a {
    margin-right: 40px;
}

.menunav a:last-child {
    margin-right: 0;
}

/* Задаю параметры всего контейнера с контентом */
main {
    flex-grow: 1; 
    border: 1px solid;
    display: flex;
    background-image: url(/assets/image/2106.w026.n002.463B.p1.463.jpg);
    background-size: contain;
}

/* Задаю параметры текстового контента контейнера с контентом */
.content {
    flex-basis: 70%; 
    display: flex;
    flex-direction: column;
}

 /* Задаю параметры впервого бокса в контейнере с контентом */
.main_box {
    padding-top: 10px;
    margin: 10px; 
    text-align: center;
    flex-basis: 30%;
    background-color: rgb(206, 223, 237, 0.3);
}


.else_box1 {
    margin: 10px;
    display: flex;
    flex-basis: 30%;
    gap: 12px; 
}

 /* Задаю параметры двух блоков впервого бокса в контейнере с контентом */
.else {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-basis: 50%;  
    background-color: rgb(61, 36, 65, 0.7);
}

 /* Задаю параметры двух блоков второго бокса в контейнере с контентом */
.else_box2 {
    margin: 10px; 
    display: flex;
    flex-basis:30%;
    gap: 12px; 
}

 /* Задаю параметры бокового блока */
aside {
    flex-grow: 1;
    margin: 10px;
    padding-top: 30px; 
    display: block;
    background-color: rgb(206, 223, 237, 0.3);  
}


h2 {
    text-align: center;
    padding-top: 10px;
    margin: 10px; 
    text-align: center;
    flex-basis: 30%;
    background-color: rgb(206, 223, 237, 0.3);
}

 /* Задаю параметры футера */
footer {
    border: 1px solid;
    flex-basis: 10%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(116, 66, 145, 0.5);
}

 /* Задаю параметры блокаов футера */
.footer_box {
    text-align: center;
    padding: 5px;
    display: flex; 
    background-color:rgb(150, 103, 133, 0.5);
}

 /* Задаю параметры анимации блокам меню */
.animation {
    animation: spin 4s linear infinite;
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }